chainer==7.8.1
editdistance==0.6.2
filelock==3.12.2
gdown==4.7.1
h5py==3.9.0
kaldiio==2.18.0
librosa==0.10.0.post2
matplotlib==3.7.1
numpy==1.24.2
PyYAML==6.0
resampy==0.4.2
scikit_learn==1.2.2
scipy==1.9.3
six==1.16.0
soundfile==0.12.1
tensorboard==2.14.0
torch==2.0.1
tqdm
